body {
    margin: 0;
}
#ixv {
/*
    #ixv-loading-mask {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0;
        z-index: 10;

    }
*/

    #ixv-progress {
        position: fixed; 
        top: 20px; 
        left: 20px; 
        width: 500px; 
        height: 200px; 
        background-color: #fff; 
        border: solid #000 1px; 
        text-align: center;
    }

    #iframe-container {
        width: 75%;
        height: 100%;
        box-sizing: border-box; 
        position: relative;
        z-index: 0;
        padding-right: 5px;

        & > iframe {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        .zoom-in, .zoom-out {
            position: absolute;
            right: 30px;
            width: 20px;
            height: 20px;
            border: solid 1px #bbb;
            background-color: rgba(225,225,225,0.7);
            justify-content: center;
            display: flex;
            align-items: center;
            color: #777;
            cursor: pointer;
        }
        .zoom-in:hover,
        .zoom-out:hover {
            background-color: rgba(128,128,128,0.7);
        }
  
        .zoom-in {
            top: 15px;
        }

        .zoom-out {
            top: 40px;
        }

        .resize {
            position: absolute;
            top: 0;
            width: 5px;
            right: 0;
            bottom: 0;
            z-index: 20;
        }
        /* This spacer stops drag events getting lost to the iframe */
        .resize-spacer {
            position: absolute;
            top: 0;
            width: 3px;
            right: 5px;
            bottom: 0;
            z-index: 20;
        }

        
    }

    #inspector {
        padding: 0 20px 20px 20px;
        width: 25%;
        position: absolute;
        top: 0; 
        right: 0;
        bottom: 0;
        box-sizing: border-box; 
        font-family: sans-serif;
        height: 100%;
        overflow-y: scroll;
    }
    #std-label {
        margin-top: 10px;
        font-weight: bold;
        font-size:  large;
        min-height: 45px;
    }
    #concept {
        margin-top: 20px;
        font-size:  small;
        min-height: 25px;
    }
    #duplicates {
        .next, .prev {
            cursor: pointer;
        }
    }
    #documentation {
        margin-top: 10px;
        font-style: italic;
        font-family: serif;
    }
    #period {
        margin-top: 10px;
    }
    #value {
        margin-top: 10px;
    }
    #inspector .dimension {
        margin-top: 10px;
    }
    #inspector .dimension-value {
        padding-left: 10px;
    }

    #ixbrl-controls-top {
        padding-top:10px;
        padding-bottom:10px;
        border-bottom: solid 1px #333;
    }

    #inspector {
        #ixbrl-search-results {
            td {
                padding: 7px 5px;
                border-top: solid 1px #ccc;
                cursor: pointer;
            }

            td:first-child {
                border-top: none;
            }

            .selected td {
                background-color: #77f;
            }
        }
    }


    table.scrollable {
        width: 100%;

        tbody {
            width: 100%;
            display: block;
            height: 200px;
            overflow-y: scroll;
        }
    }

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.85);
        z-index: 10;

    }

    .loader .text {
        padding-top: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        font-size: large;
        font-family: sans-serif;

    }

    .loader .text:after,
    .loader .text:before {
        margin: 0 0 0 -30px;
        height: 60px;
        width: 60px;
        position: absolute;
        content: '';
        top: 0;
        left: 50%;

        border-radius: 500rem;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 1px transparent;

    }

    .loader .text:before {
        border: 3px solid rgba(255,255,255,.1)
    }

.loader .text:before {
    border: 3px solid rgba(255,255,255,.1)
}

.loader .text:after {
    -webkit-animation: loader .6s linear;
    animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-color: #fff transparent transparent;
}


@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



}
