@import "fonts.less";
@import "colours.less";
body {
    margin: 0;
}
#ixv {

    #ixv-progress {
        position: fixed; 
        top: 20px; 
        left: 20px; 
        width: 500px; 
        height: 200px; 
        background-color: #fff; 
        border: solid #000 1px; 
        text-align: center;
    }

    #iframe-container {
        width: 75%;
        height: 100%;
        box-sizing: border-box; 
        position: relative;
        z-index: 0;
        padding-right: 5px;

        & > iframe {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
        }

        .zoom-in, .zoom-out {
            position: absolute;
            right: 30px;
            width: 20px;
            height: 20px;
            border: solid 1px #bbb;
            background-color: rgba(225,225,225,0.7);
            justify-content: center;
            display: flex;
            align-items: center;
            color: #777;
            cursor: pointer;
        }
        .zoom-in:hover,
        .zoom-out:hover {
            background-color: rgba(128,128,128,0.7);
        }
  
        .zoom-in {
            top: 15px;
        }

        .zoom-out {
            top: 40px;
        }

        .resize {
            position: absolute;
            top: 0;
            width: 5px;
            right: 0;
            bottom: 0;
            z-index: 20;
        }
        /* This spacer stops drag events getting lost to the iframe */
        .resize-spacer {
            position: absolute;
            top: 0;
            width: 3px;
            right: 5px;
            bottom: 0;
            z-index: 20;
        }

        
    }

    #inspector {
        .inspector-body {
            padding: 0 20px 20px 20px;
            width: 100%;
            box-sizing: border-box;
        }
        width: 25%;
        position: absolute;
        top: 0; 
        right: 0;
        bottom: 0;
        box-sizing: border-box; 
        &, table {
            font-family: sans-serif;
            font-size: 11pt;
            color: @header-grey;
        }
        height: 100%;
        overflow-y: scroll;

        h2 {
            text-align: center;
            font-weight: normal;
            border-bottom: solid 1px #ccc;
            width: 100%;
            padding-bottom: 5px;
            color: @header-grey;

        }

        h3 {
            font-weight: normal;
            border-bottom: solid 1px #ccc;
            width: 100%;
            padding-bottom: 5px;
            color: @header-grey;
        }
        
        h4 {
            font-weight: bold;
            color: @header-grey;
            margin-bottom: 14px;
        }
    }
    #std-label {
        margin-left: 30px;
        min-height: 20px;
        position: relative;
        &:before {
            color: @primary;
            content: "\2022"; 
            position: absolute;
            top: -5px;
            left: -17px;
            font-size: x-large;
        }
    }
    #concept {
        margin-top: 20px;
        font-size:  small;
        min-height: 25px;
    }
    table.fact-properties {
    
        width: 100%;
        th {
            width: 100px;
            text-align: right;
            padding-right: 30px;
        }
        th, td {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
    #duplicates {
        .next, .prev {
            cursor: pointer;
        }
    }
    #documentation {
        margin-top: 10px;
        font-style: italic;
        font-family: serif;
    }
    #period {
        margin-top: 10px;
    }
    #value {
        margin-top: 10px;
    }
    #inspector .dimension {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #inspector .dimension,
    #inspector .period {
        .analyse {
            cursor: pointer;
            padding-left: 7px;
            color: @primary;
        }
        .analyse:before {
            font-family: "icomoon";
            content:  "\e99b";
            position: relative;
            top: 1px;
            
        }
    }
    #inspector .dimension-value {
        padding-left: 10px;
    }

    #ixbrl-controls-top {
        padding-top:10px;
        padding-bottom:10px;
        border-bottom: solid 1px #333;
    }

    #inspector {
        #ixbrl-search-results {
            td {
                padding: 7px 5px;
                border-top: solid 1px #ccc;
                cursor: pointer;
            }

            td:first-child {
                border-top: none;
            }

            .selected td {
                background-color: #77f;
            }
        }

        #calculation {
            select {
                padding: 3px;
                width: 100%;
                margin: 5px 0;
            }
            .item {
                padding: 5px 0;
                position: relative;

                &:not(.fact-link, .total) .concept-name {
                    color: #777;
                }

                &.fact-link {
                    cursor: pointer;
                    .concept-name {
                        color: #00f;
                    }
                }
                .concept-name {
                    display: block;
                    margin-left: 15px;
                }
                .weight {
                    display: block;
                    position: absolute;
                }
                &.linked-highlight,
                &.fact-link:hover {
                    outline: solid 2px @linked-fact;
                    outline-offset: 1px;
                }
                &.total {
                    border-top: solid 1px #000;
                }
            }
        }
        .year-on-year-fact-link {
            cursor: pointer;
            color: @primary;
            &:hover {
                outline: solid 2px @linked-fact;
                outline-offset: 1px;
            }
        }
    }


    table.scrollable {
        width: 100%;

        tbody {
            width: 100%;
            display: block;
            height: 200px;
            overflow-y: scroll;
        }
    }

    .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.85);
        z-index: 10;

    }

    .loader .text {
        padding-top: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #fff;
        font-size: large;
        font-family: sans-serif;

    }

    .loader .text:after,
    .loader .text:before {
        margin: 0 0 0 -30px;
        height: 60px;
        width: 60px;
        position: absolute;
        content: '';
        top: 0;
        left: 50%;

        border-radius: 500rem;
        border-style: solid;
        border-width: 3px;
        box-shadow: 0 0 0 1px transparent;

    }

    .loader .text:before {
        border: 3px solid rgba(255,255,255,.1)
    }

.loader .text:before {
    border: 3px solid rgba(255,255,255,.1)
}

.loader .text:after {
    -webkit-animation: loader .6s linear;
    animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-color: #fff transparent transparent;
}


@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

    

    #chart {
        .chart-container {
           position: relative;
           width: 100%;
        }
        .other-aspects {
            width: 100%;
            position: absolute;
            bottom: 0;
            .other-aspect {
                display: inline-block;
                padding: 5px;
                margin: 5px;
                border-radius: 3px;
                border: solid 1px #333;
                &.selected {
                    background-color: #9f9;
                    border-color: #3b3; 
                }
                &.selected, &.addable {
                    cursor: pointer;
                }
            }

        }
    }
    
    .dialog-mask {
        background-color: rgba(0,0,0,0.6);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        display: none;
    }
    .dialog {
        z-index: 15;
        position: absolute;
        top: 50px;
        left: 50px;
        bottom: 50px;
        right: 50px;
        border: solid 1px #000;
        background-color: #fff;
        z-index: 15;
        //border-radius: 5px;
        display: none;

        // Use this instead of padding so that we can absolutely position elements within it.
        .contents {
            position: absolute;
            left: 10px;
            right: 10px;
            top: 10px;
            bottom: 10px;
        }
        .close {
            position: absolute;
            top: 9px;
            right: 9px;
            z-index: 20;
            &:before {
                cursor: pointer;
                color: #999;
                font-family: "icomoon"; 
                content: "\ea0f";
            }
            &:hover:before {
                cursor: pointer;
                color: #000;
            }
        }
    }


}
