@font-face {
    font-family: "icomoon";
    src: url('./icomoon.woff');
    font-weight: normal;
    font-style: normal;
}

@import "colours.less";

.iv-ixbrl-fact {
    background-color: yellow;
    cursor: pointer;
}

.ixbrl-highlight, .ixbrl-selected {
    background-color: yellow;
}

.ixbrl-selected, .ixbrl-element:hover {
    outline: dashed 1px black;
}

.ixbrl-element {
    cursor: pointer;
    position: relative;
}

.ixbrl-related {
    outline: dashed 1px blue;
}

.ixbrl-related.ixbrl-linked-highlight,
.ixbrl-linked-highlight {
    outline: solid 2px @linked-fact;
}

div.ixbrl-table-handle {
    border-left: solid #ff9000 12px;
    border-bottom: solid rgba(0,0,0,0) 12px;;
    //width: 0px;
    //height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    & > span {
        display: none;
    }
        

    &:hover {
        border: solid #f90 1px;
        border-radius: 2px;
        color: #f90;
        background-color: rgba(255,255,255,0.85);
        padding: 7px 15px;
        & > span {
            &:before {
                font-family: "icomoon";
                content: "\e95e";
                padding-right: 7px;
                position: relative;
                top: 1px;
            }
            font-weight: bold;
            font-family: sans-serif;
            display: initial;
        }

    }
}

