version: 2

updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: America/Chicago
  open-pull-requests-limit: 99
  reviewers:
  - Workiva/xt
  ignore:
  - dependency-name: babel-jest
    versions:
    - ">=27"
  - dependency-name: chart.js
    versions:
    - ">=3"
  - dependency-name: css-loader
    versions:
    - ">=4"
  - dependency-name: html-loader
    versions:
    - ">=1"
  - dependency-name: i18next
    versions:
    - ">=21"
  - dependency-name: jest
    versions:
    - ">=27"
  - dependency-name: less
    versions:
    - ">=4"
  - dependency-name: less-loader
    versions:
    - ">=7"
  - dependency-name: webpack-cli
    versions:
    - ">=4"
  - dependency-name: webpack-merge
    versions:
    - ">=5"
- package-ecosystem: pip
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
    timezone: America/Chicago
  open-pull-requests-limit: 99
  reviewers:
  - Workiva/xt
