version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
    groups:
      github-action-dependencies:
        patterns:
          - "*"
    ignore:
      - dependency-name: "softprops/action-gh-release"
        versions:
          - "2.2.0"
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    allow:
      - dependency-type: all
    groups:
      npm-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "*jest*"
          - "stylelint*"
      jest:
        patterns:
          - "*jest*"
      stylelint:
        patterns:
          - "stylelint*"
    ignore:
      - dependency-name: "puppeteer-screen-recorder"
        versions:
          - "3.0.6"
  - package-ecosystem: pip
    directory: "/"
    insecure-external-code-execution: allow
    schedule:
      interval: weekly
    allow:
      - dependency-type: all
    groups:
      pip-dependencies:
        patterns:
          - "*"
