graft iXBRLViewerPlugin/viewer/dist
prune .github
prune docs
prune examples
prune samples
prune tests
prune tools
exclude .babelrc
exclude .gitignore
exclude .npmignore
exclude .npmrc
exclude .readthedocs.yaml
exclude CODEOWNERS
exclude jest.config.json
exclude Makefile
exclude package-lock.json
exclude package.json
exclude requirements*.txt
exclude tox.ini
