
input[type=text], select, button {
    padding: 7px 5px 7px 5px;
    border: solid 1px @border-grey;
    border-radius: 5px;
    color: @text-grey;
    background-color: #fff;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: -2px;
}

select {
    padding-top: 6px;
    padding-bottom: 6px;
}

.form-static {
    padding-top: 6px;
}

.square-button {
    border-radius: 3px;
    border: solid 1px @border-grey; 
    width: 25px;
    height: 25px;
    text-align: center;
    color: @icon-grey;
    box-sizing: border-box;
    cursor: pointer;
    
}

