// See COPYRIGHT.md for copyright information

.block-list-item {
  margin: 0.8rem 0;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  position: relative;
  border: solid 0.1rem var(--colour-border-grey);
  border-radius: 0.8rem;
  text-align: left;
  width: 100%;
  display: block;

  & > * {
    margin: 0.8rem 0;
  }

  // Contents of .tags provide 0.2rem of non-collapsing margin
  & > .block-list-item-tags {
    margin: 0.6rem 0;
  }

  &:hover {
    background-color: var(--colour-bg-selected);
  }

  &.selected {
    border: solid 0.2rem var(--colour-primary);
    padding: 0.7rem 1.5rem;
  }

  &.linked-highlight {
    .linked-highlight-cell();
  }
}
