// See COPYRIGHT.md for copyright information

@primary: #026dce;
@primary-focus: #0094ff;

@linked-fact: @primary;
@related-fact: #0eb30e;

@text-title: #444444;
@text: #595959;
@text-light: #b2b2b2;
@text-form-value: #7d7d7d;

@border-grey: #cbcbcb;
@simple-border: solid 0.1rem @border-grey;

@highlight-default: hsl(90 69% 85% / 1);
@highlight-1: #eaa8ff;
@highlight-2: hsl(48 100% 85% / 1);

@icon-grey: @text;

@button-primary-bg: @primary-focus;
@button-primary-border: #0085e6;

@button-background: #f8f8f8;
@background-selected: #f3f3f3;

@background-tag: #8a8a8a;

@workiva-green: #66ca00;
