// See COPYRIGHT.md for copyright information

.tag {
  display: table;
  text-transform: uppercase;
  font-weight: bold;
  background-color: @background-tag;
  padding: 0.15em 0.5em;
  color: #fff;
  border-radius: 0.3em;
}

.clickable {
  cursor: pointer;
  color: @primary;
}

.panel-indent {
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
