// See COPYRIGHT.md for copyright information

html {
  font-size: 62.5%;
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-foreground);
  margin: 0;
}

.link-style() {
  display: inline-block;
  line-height: 2.0rem;
  border-bottom: solid 0.1rem var(--colour-primary-light);
  color: var(--colour-primary);
  
  &:hover {
    text-decoration: none;
  }
}
