// See COPYRIGHT.md for copyright information

#ixv .dialog.validation-report {
  max-width: 120rem;
  width: 90vw;

  table {
    display: block;
    margin: 2rem 0;
    border-collapse: collapse;
    max-height: calc(90vh - 150px);
    overflow-y: auto;

    td,
    th {
      padding: 0.5rem;
      border: solid 0.1rem @border-grey;
    }
  }
}
