{% set html %}
<div id="inspector">
  <span id="inspector-status">Loading...</span>
  <div id="std-label"></div>
  <div id="documentation"></div>
  <div id="dimensions"></div>
  <div id="concept"></div>
  <div>
    <input id="ixbrl-show-all-tags" type="checkbox">Show all tags</input>
  </div>
  <button id="ixbrl-next-tag">Next tag</button>
</div>
{% endset %}
