<html>
    <head>
<!--https://stackoverflow.com/questions/10418644/creating-an-iframe-with-given-html-dynamically -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script
  src="js/interact.min.js"></script>

        <title>iXBRL Viewer</title>
        <style>
            #iframe-container {
                width: 80%;
                height: 100%;
                box-sizing: border-box; 
            }
            #iframe-container > iframe {
                width: 100%;
                height: 100%;
            }
            #inspector {
                padding: 0 20px;
                width: 20%;
                float: right;
                box-sizing: border-box; 
                font-family: sans-serif;
            }
            #std-label {
                margin-top: 10px;
                font-weight: bold;
                font-size:  large;
            }
            #concept {
                margin-top: 20px;
                font-size:  small;
            }
            #documentation {
                margin-top: 10px;
                font-style: italic;
                font-family: serif;
            }

        </style>
        <script type="application/json" id="taxonomy-data" >{{ taxonomyData }}</script>
        <script type="text/javascript">
            {% include "ixbrlviewer.js" %}
        </script>
    

    </head>
    <body>
        <div id="inspector">
            <span id='inspector-status'>Loading...</span>
            <div id='std-label'></div>
            <div id='documentation'></div>
            <div id='concept'></div>
        </div>
        <div id="iframe-container">

        </div>
        <script type="application/base64" id="ixbrl-data">
{{ data }}
        </script>

    </body>
</html>
