<html>
    <head>
<!--https://stackoverflow.com/questions/10418644/creating-an-iframe-with-given-html-dynamically -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

<script
  src="js/interact.min.js"></script>

        <title>iXBRL Viewer</title>
        <style>
            #iframe-container {
                width: 80%;
                height: 100%;
                box-sizing: border-box; 
            }
            #iframe-container > iframe {
                width: 100%;
                height: 100%;
            }
            #iframe-container > .loading-mask {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 10;
                background-color: rgba(0,0,0,.85);
            }

.loading-mask .text {
    padding-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    font-size: x-large;
	font-family: sans-serif;

}

.loading-mask .text:after,
.loading-mask .text:before {
    margin: 0 0 0 -30px;
    height: 60px;
    width: 60px;
    position: absolute;
    content: '';
    top: 0; 
    left: 50%;  
            
    border-radius: 500rem;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0 0 0 1px transparent;

}

.loading-mask .text:before {
    border: 3px solid rgba(255,255,255,.1)
}

.loading-mask .text:after {
    -webkit-animation: loader .6s linear;
    animation: loader .6s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-color: #fff transparent transparent;
}


@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





            #inspector {
                padding: 0 20px;
                width: 20%;
                float: right;
                box-sizing: border-box; 
                font-family: sans-serif;
            }
            #std-label {
                margin-top: 10px;
                font-weight: bold;
                font-size:  large;
            }
            #concept {
                margin-top: 20px;
                font-size:  small;
            }
            #documentation {
                margin-top: 10px;
                font-style: italic;
                font-family: serif;
            }
            #inspector .dimension {
                margin-top: 10px;
            }
            #inspector .dimension-value {
                padding-left: 10px;
            }

        </style>
        <script type="application/json" id="taxonomy-data" >{{ taxonomyData }}</script>
        <script type="text/javascript">
            {% include "ixbrlviewer.js" %}
        </script>
    

    </head>
    <body>
        <div id="inspector">
            <span id='inspector-status'>Loading...</span>
            <div id='std-label'></div>
            <div id='documentation'></div>
            <div id='dimensions'></div>
            <div id='concept'></div>
        </div>
        <div id="iframe-container">
            <div class="loading-mask">
                <div class="text">
                    Loading iXBRL...
                </div>
            </div>
        </div>
        <script type="application/base64" id="ixbrl-data">
{{ data }}
        </script>

    </body>
</html>
