<html>
    <head>
<!--https://stackoverflow.com/questions/10418644/creating-an-iframe-with-given-html-dynamically -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>

        <title>iXBRL Viewer</title>
        <style>
            #iframe-container {
                width: 80%;
                height: 80%;
                box-sizing: border-box; 
            }
            #iframe-container > iframe {
                width: 100%;
                height: 100%;
            }
            #inspector {
                padding: 0 20px;
                width: 20%;
                float: right;
                box-sizing: border-box; 
            }

        </style>
        <script type="application/json">{{ taxonomyData }}</script>
        <script type="text/javascript">

            function b64DecodeUnicode(str) {
                return decodeURIComponent(Array.prototype.map.call(atob(str), function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
                }).join(''))
            }

            $(function () {
                var b64 = document.getElementById("ixbrl-data").innerHTML;
                var html = b64DecodeUnicode(b64);
                var iframe = document.createElement('iframe');
                document.getElementById('iframe-container').appendChild(iframe);
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(html);
                iframe.contentWindow.document.close();
                iframe.contentWindow.addEventListener('load', function () {
                    nn = $('iframe').contents().find(":root").get(0).getElementsByTagName("*");
                    for (i=0; i < nn.length; i++) {
                        n = nn[i]
                        if (n.nodeName == 'IX:NONFRACTION' || n.nodeName == 'IX:NONNUMERIC') {
                            $(n).css("background-color", "yellow");
                        }

                    }

                    $('#inspector-status').text("iXBRL loaded");
                });
                
            });
        </script>
    

    </head>
    <body>
        <div id="inspector">
            <h2>iXBRL Viewer</h2>
            <span id='inspector-status'>Loading...</span>
        </div>
        <div id="iframe-container">

        </div>
        <script type="application/base64" id="ixbrl-data">
{{ data }}
        </script>

    </body>
</html>
