name: Build and publish NPM package

on:
  workflow_call:
    inputs:
      node_version:
        default: '22'
        description: 'Node version to use'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      node_version:
        default: '22'
        description: 'Node version to use'
        required: true
        type: string

permissions: {}

jobs:
  build-package:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout ixbrl-viewer
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0 # npm run prod requires tags, sadly this is the only way to get them.
      - name: Install Node.js
        uses: actions/setup-node@v6.0.0
        with:
          cache: 'npm'
          check-latest: true
          node-version: ${{ inputs.node_version }}
      - name: Install npm dependencies
        run: npm ci
      - name: Build ixbrlviewer.js
        run: make prod
      - name: Create npm package
        run: |
          npm config set git-tag-version=false
          npm version $(git describe --tags)
          npm pack
      - name: Upload ixbrlviewer.js artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: ixbrlviewer.js
          if-no-files-found: error
          path: iXBRLViewerPlugin/viewer/dist/ixbrlviewer.js
      - name: Upload npm artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: npm package
          if-no-files-found: error
          path: ixbrl-viewer-*.tgz
