name: Build Python package

on:
  workflow_call:
    inputs:
      node_version:
        default: '24'
        description: 'Node version to use'
        required: false
        type: string
      python_version:
        default: '3.14'
        description: 'Python version to use'
        required: false
        type: string
  workflow_dispatch:
    inputs:
      node_version:
        default: '24'
        description: 'Node version to use'
        required: true
        type: string
      python_version:
        default: '3.14'
        description: 'Python version to use'
        required: true
        type: string

permissions: {}

jobs:
  build-package:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout ixbrl-viewer
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Install Node.js
        uses: actions/setup-node@v6.2.0
        with:
          cache: 'npm'
          check-latest: true
          node-version: ${{ inputs.node_version }}
      - name: Install npm dependencies
        run: npm ci
      - name: Build ixbrlviewer.js
        run: make prod
      - name: Install Python
        uses: actions/setup-python@v6.2.0
        with:
          cache: 'pip'
          cache-dependency-path: '**/pyproject.toml'
          check-latest: true
          python-version: ${{ inputs.python_version }}
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install build
      - name: Build Python package
        run: python -m build
      - name: Upload source distribution artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ixbrl-viewer.tar.gz
          if-no-files-found: error
          path: dist/*.tar.gz
      - name: Upload wheel artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          name: ixbrl-viewer.whl
          if-no-files-found: error
          path: dist/*.whl
