name: Release

on:
  release:
    types: [released]

permissions: {}

jobs:
  publish-documentation:
    uses: ./.github/workflows/publish-documentation.yml
    secrets: inherit

  node-tests:
    uses: ./.github/workflows/node-tests.yml
  npm-package:
    permissions:
      contents: write
    uses: ./.github/workflows/npm-package.yml
    secrets: inherit
  publish-npm-package:
    # publish job is inline here because npm doesn't support trusted publishers from GitHub reusable workflows.
    needs:
      - node-tests
      - npm-package
    environment: release
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - name: Install Node.js
        uses: actions/setup-node@v6.2.0
        with:
          check-latest: true
          node-version: latest
          registry-url: 'https://registry.npmjs.org'
      - name: Download ixbrlviewer.js artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: ixbrlviewer.js
      - name: Download npm artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: npm package
      - name: Publish with npm
        env:
          NPM_CONFIG_DRY_RUN: ${{ github.repository != 'Arelle/ixbrl-viewer' }}
        run: npm publish ixbrl-viewer-*.tgz --provenance --access public
      - name: Upload release artifacts
        uses: softprops/action-gh-release@v2.5.0
        with:
          fail_on_unmatched_files: true
          files: './*'

  python-tests:
    uses: ./.github/workflows/python-tests.yml
  python-package:
    uses: ./.github/workflows/python-package.yml
  publish-python-package:
    # publish job is inline here because PyPI doesn't support trusted publishers from GitHub reusable workflows.
    # https://docs.pypi.org/trusted-publishers/troubleshooting/#reusable-workflows-on-github
    needs: 
      - python-tests
      - python-package
    environment: release
    permissions:
      contents: write
      id-token: write
    runs-on: ubuntu-24.04
    steps:
      - name: Download tar artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: ixbrl-viewer.tar.gz
          path: dist/
      - name: Download wheel artifact
        uses: actions/download-artifact@v7.0.0
        with:
          name: ixbrl-viewer.whl
          path: dist/
      - name: Publish package on release
        uses: pypa/gh-action-pypi-publish@v1.13.0
      - name: Upload release artifact
        uses: softprops/action-gh-release@v2.5.0
        with:
          fail_on_unmatched_files: true
          files: 'dist/*'
